<div class="social-shares">
	<div class="mm_facebook_share" data-post-title="{{ page.title }}" data-post-permalink="{{site.url}}{{page.url}}"><span class="fa fa-facebook"></span></div>
	<div class="mm_twitter_tweet" data-post-title="{{ page.title }}" data-post-permalink="{{site.url}}{{page.url}}"><span class="fa fa-twitter"></span></div>
	<div class="mm_google_plus_share" data-post-title="{{ page.title }}" data-post-permalink="{{site.url}}{{page.url}}"><span class="fa fa-google-plus"></span></div>
	<a class="mm_email_share" href="mailto:?subject={{ page.title }} - {{site.title }}&body={{site.url}}{{page.url}} - {{site.title }}"><span class="fa fa-envelope"></span></a>
	<a class="mm_pinterest_share" href="javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;https://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());"><span class="fa fa-pinterest"></span></a>
	<a class="mm_whatsapp_share desk_hide" href="whatsapp://send?text={{ page.title }} - {{site.title }} {{site.url}}{{page.url}}"><span class="fa fa-whatsapp"></span></a>
</div>

