<div class="social-shares javascript">
	<div class="mm_facebook_share" data-post-title="{{ page.title }}" data-post-permalink="{{site.url}}{{page.url}}"><span class="fa fa-facebook"></span></div>
	<div class="mm_twitter_tweet" data-post-title="{{ page.title }}" data-post-permalink="{{site.url}}{{page.url}}"><span class="fa fa-twitter"></span></div>
	<div class="mm_google_plus_share" data-post-title="{{ page.title }}" data-post-permalink="{{site.url}}{{page.url}}"><span class="fa fa-google-plus"></span></div>
	<a class="mm_email_share" href="mailto:?subject={{ page.title }} - {{site.title }}&body={{site.url}}{{page.url}} - {{site.title }}"><span class="fa fa-envelope"></span></a>
	<a class="mm_pinterest_share" href="javascript:initPinterestPin();"><span class="fa fa-pinterest"></span></a>
	<a class="mm_whatsapp_share desk_hide" href="whatsapp://send?text={{ page.title }} - {{site.title }} {{site.url}}{{page.url}}"><span class="fa fa-whatsapp"></span></a>
</div>
<noscript>
<div class="social-shares">
	<a class="mm_facebook_share" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><span class="fa fa-facebook"></span></a>
	<a class="mm_twitter_tweet" href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{ page.title }} via @JunkJamIndia" target="_blank"><span class="fa fa-twitter"></span></a>
	<a class="mm_google_plus_share" href="https://plus.google.com/share?url={{site.url}}{{page.url}}&text={{ page.title }} via @JunkJam" target="_blank"><span class="fa fa-google-plus"></span></a>
	<a class="mm_email_share" href="mailto:?subject={{ page.title }} - {{site.title }}&body={{site.url}}{{page.url}} - {{site.title }}" target="_blank"><span class="fa fa-envelope"></span></a>
	<a class="mm_pinterest_share" href="https://in.pinterest.com/junkjam2015/" target="_blank"><span class="fa fa-pinterest"></span></a>
	<a class="mm_whatsapp_share desk_hide" href="whatsapp://send?text={{ page.title }} - {{site.title }} {{site.url}}{{page.url}}" target="_blank"><span class="fa fa-whatsapp"></span></a>
</div>
</noscript>

