---
layout: default
single: true
article: true
---

<div id="js-container">
<article class="hentry js-block" role="article" data-slug="{{ page.url }}">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{{ time }}{% if updated %} | Updated on {{ updated }}{% endif %}
      {% include post/categories.html %}
    </p>
    <p class="meta blog-index">
      {% if page.previous.url %}
        <a id="load-next-article" self="{{ page.url }}" rel="full-article" class="basic-alignment right" href="{{page.previous.url}}" title="{{page.previous.title}}">Next Post &raquo;</a>
      {% endif %}    
      {% if page.next.url %}
        <a rel="full-article" class="basic-alignment left" href="{{page.next.url}}" title="{{page.next.title}}">&laquo; Previous Post</a>
      {% endif %}      
    </p>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.post_asides.size %}
    {% include_array post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
