{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

{% if site.socialite and page.socialite != false %}
<div class="sm">
	<ul>		
		<li><a href="http://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="nofollow" class="socialite facebook-like" data-href="{{ site.url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false">Like</a></li>
		<li><a href="http://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" rel="nofollow" class="socialite googleplus-one" data-size="medium" data-href="{{ site.url }}{{ page.url }}">+1</a></li>
		<li><a href="http://www.pinterest.com/pin/create/button/" target="_blank" rel="nofollow" class="socialite pinterest-pinit" data-pin-log="button_pinit_bookmarklet"><span class="vhidden">PinIt</span></a></li>
		<li><a href="http://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}&amp;via=junkjamIndia" target="_blank" rel="nofollow" class="socialite twitter-share" data-text="{{ page.title }} &ndash;" data-url="{{ site.url }}{{ page.url }}" data-via="junkjamIndia" data-related="junkjamIndia" data-count="horizontal">Tweet</a></li>
		<li><a href="http://twitter.com/junkjamIndia" class="socialite twitter-follow" target="_blank" rel="me" data-type="follow" data-show-count="true">Follow @osvaldas</a></li>
	</ul>
</div>

<script src="{{ root_url }}/javascripts/libs/socialite.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/libs/socialite.pinterest.js" type="text/javascript"></script>

<script type="text/javascript">
;( function ( document, window, index )
{
	var sm = document.querySelector( '.sm' );
	if( sm ) Socialite.load( sm );

}( document, window, 0 ));
</script>
{% endif %}

{% if site.sticky_header %}
<script type="text/javascript">
function cloneNav(){
  var clonedNav = $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();
  clonedNav.find('select').bind('change', function(event) {
    if (event.target.value) { window.location.href = event.target.value; }
  });
}
scrollIntervalID = setInterval(stickIt, 10);

function stickIt() {

  var orgElementPos = $('.original').offset();
  orgElementTop = orgElementPos.top;               

  if ($(window).scrollTop() >= (orgElementTop)) {
    // scrolled past the original position; now only show the cloned, sticky element.

    // Cloned element should always have same left position and width as original element.     
    orgElement = $('.original');
    coordsOrgElement = orgElement.offset();
    leftOrgElement = coordsOrgElement.left;  
    widthOrgElement = orgElement.css('width');
    $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
    $('.original').css('visibility','hidden');
  } else {
    // not scrolled past the menu; only show the original menu.
    $('.cloned').hide();
    $('.original').css('visibility','visible');
  }
}
</script>
{% endif %}
