{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% include services/facebook_sdk.html %}
{% endcomment %}

{% include services/disqus.html %}
{% if page.article %}<script>var _qart=[];_qart.push({current:{slug:'{{ page.url }}'}});</script>{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ root_url }}/javascripts/octopress.js?v={{site.js_version}}" async></script>

{% include services/onesignal.html %}
{% include services/service_worker.html %}
