{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

{% include services/disqus.html %}
{% include services/facebook_sdk.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
<script src="{{ root_url }}/javascripts/octopress.js?v=3.5"></script>
{% if page.article %}<script>Article.init({current:{slug:'{{ page.url }}'}})</script>{% endif %}

{% include services/onesignal.html %}