<script type="text/javascript" async defer src="https://apis.google.com/js/platform.js?publisherid=113017918336489460151"></script>
<script>
window.addEventListener('load', function() {
  var outputElement = document.getElementById('output');
  navigator.serviceWorker.register('/service-worker.js', { scope: './' })
    .then(function(r) {
      console.log('registered service worker');
    })
    .catch(function(whut) {
      console.error('uh oh... ');
      console.error(whut);
    });
  window.addEventListener('beforeinstallprompt', function(e) {
    outputElement.textContent = 'beforeinstallprompt Event fired';
    // e.userChoice will return a Promise. For more details read: http://www.html5rocks.com/en/tutorials/es6/promises/
    e.userChoice.then(function(choiceResult) {
      console.log(choiceResult.outcome);
      if(choiceResult.outcome == 'dismissed') {
        console.log('User cancelled homescreen install');
      }
      else {
        console.log('User added to homescreen');
      }
    });
  });
});
</script>
<noscript><style>img.lazy {display: none !important;} .javascript {display: none !important;}</style></noscript>

{% include services/gtm.html %}
