<ul class="subscription maskImage" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  <li><a href="{{ site.subscribe_rss }}" role="mobile-navigation" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  {% if site.subscribe_email %}
    <li><a href="mailto:{{ site.subscribe_email }}&subject=%5BJunkJam%20Story%5D%20%3A%20This%20is%20my%20story" rel="subscribe-email" target="_top" title="Send your story">Email</a></li>
  {% endif %}
</ul>

<form action="/search/" method="get">
  <fieldset role="search">
    <input id="sitesearchtextbox" class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>

<ul class="main-navigation">
  <li><a href="/"><span class="fa fa-home"></span></a></li>
  <li><a href="/categories/market/" role="mobile-navigation">Market</a></li>
  <li><a href="/categories/fashion/" role="mobile-navigation">Fashion</a></li>
  <li><a href="/categories/lifestyle/" role="mobile-navigation">LifeStyle</a></li>
  <li><a href="/categories/travel/" role="mobile-navigation">Travel</a></li>
  <!--<li><a href="/contribute/" role="mobile-navigation">Contribute</a></li>-->
  <!--<li><a href="/archives/" role="mobile-navigation">Archives</a></li>-->
  <li><a href="//www.junkjam.in" role="mobile-navigation">About</a></li>
</ul>
