---
layout: default
---

{% capture page_url %}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
<div class="blog-index js-block" data-slug="{{ page.url }}">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a rel="full-article" class="prev" href="{{ paginator.next_page_path | remove:'index.html' | strip_slash }}/">&larr; Older</a>
    {% endif %}
    <a href="/archives/">Blog Archives</a>
    {% if paginator.previous_page %}
    <a rel="full-article" class="next" href="{{ paginator.previous_page_path | remove:'index.html' | strip_slash }}/">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
