// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.gsc-control-cse{
	padding:0px !important;
}
.gsc-search-button{
	display:none !important;
}
form.gsc-search-box{
	margin-bottom:0px !important;
}
table.gsc-search-box{
	margin-bottom:0px !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input{
padding-right:0px !important;
}
body>nav form {
	margin:2px;
}
hgroup>h1 { 
	font-family: 'Varela Round', sans-serif !important; 
    font-size: 40px;
    letter-spacing: 12px;
    margin: 10px;
}
hgroup h1 a {
	color: #353535 !important;
    display: inline-block;
}
hgroup h2 {
	color: #353535 !important;
}
hgroup h1 span {
    color: #a1a9b0;
    display: inline-block;
}
hgroup>h2, h1 { 
	font-family: 'Varela Round', sans-serif !important; 
    letter-spacing: 1px;
	font-size: 1.85rem;
}
body>header {
	background-image: url(../images/plants-bg.jpg);
	background-position: right -10px top -300px;
}
body>nav {
    padding-top: 0em;
    padding-bottom: 0em;
}
/*
	SOCIAL MEDIA
*/

.sm
{
	width: 100%;
	height: 2.0rem;
	color: #444;
	color: rgba( 0, 0, 0, .75 );
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.3 );
	overflow: hidden;
	position: fixed;
	z-index: 1001;
	bottom: 0;
	left: 0;
	padding: 0.625rem 1.25rem 0;
}
	.sm--dark
	{
		color: #ddd;
		color: rgba( 255, 255, 255, .75 );
		background-color: #111;
		background-color: rgba( 0, 0, 0, .5 );
	}
	.sm ul
	{
	}
		.sm li
		{
			float: right;
			margin-left: 1rem;
		}
		.sm li:first-child
		{
		    margin-top: -0.41rem;
		    padding-right: 5rem;
		}
			.sm .googleplus-one
			{
				max-width: 60px;
			}
			.sm .twitter-follow > *:not( :first-child ),
			.sm .twitter-share > *:not( :first-child )
			{
				display: none;
			}

		@media screen{ @media ( min-width: 0px ) /* everything but Internet Explorer and Safari ≤6 */
		{
			.sm li:last-child
			{
				opacity: 0;
				-webkit-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;
			}
			.sm:hover li:last-child
			{
				opacity: 1;
			}	
		}}

			.sm__back
			{
				font-size: 0.875rem; /* 14 */
				font-weight: bold;
				color: currentColor;
				text-transform: uppercase;
				position: relative;
			}
				.sm__back::before
				{
					width: 0;
					height: 0;
					border: 0.313rem solid transparent; /* 5 */
					border-left: none;
					border-right-color: currentColor;
					content: '';
					display: inline-block;
					position: relative;
					left: 0;
					margin-right: 0.313rem; /* 5 */

					-webkit-transition: left .25s ease-in-out;
					transition: left .25s ease-in-out;
				}
				.sm__back:hover::before,
				.sm__back:focus::before
				{
					left: -0.313rem; /* 5 */
				}

ul,ol
{
	list-style: none;
}

/*
	RESPONSIVENESS
*/

@media screen and (max-width: 40em), screen and (max-height: 40em) /* 640 */
{
	.sm
	{
		display: none;
	}
}
article {
  ol, ul {
    padding-left: 3em;
	list-style: inherit;
  }
}

.tinynav {
    display: block;
    height: 29px;
    border: 0 none;
    font-weight: bold;
    width: 100%;
    border: 1px solid #c6c6c6;
    background: #fff;
    text-indent: 10px;
}
