// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.gsc-control-cse{
	padding:0px !important;
}
.gsc-search-button{
	display:none !important;
}
form.gsc-search-box{
	margin-bottom:0px !important;
}
table.gsc-search-box{
	margin-bottom:0px !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input{
padding-right:0px !important;
}
body>nav form {
	margin:2px;
}
hgroup>h1 { 
	font-family: 'Varela Round', sans-serif !important; 
    font-size: 40px;
    letter-spacing: 12px;
    margin: 10px;
}
hgroup h1 a {
	color: $junk-color !important;
    display: inline-block;
}
hgroup h2 {
	color: #353535 !important;
}
hgroup h1 span {
    color: $jam-color;
    display: inline-block;
}
hgroup>h2, h1 { 
	font-family: 'Varela Round', sans-serif !important; 
    letter-spacing: 1px;
	font-size: 1.85rem;
}
body>header {
	background-image: url(../images/banner4.jpg);
	background-position-y: -32px;
}
body>nav {
    padding-top: 0em;
    padding-bottom: 0em;
}
article {
  ol, ul {
    padding-left: 3em;
	list-style: inherit;
  }
}
ul,ol {
	list-style: none;
}
article header p.meta{
	text-transform: none;
	font-size: 0.8em;
	a {
		text-decoration: none;
	}
}

/*
	RESPONSIVENESS
*/

@media screen and (max-width: 40em), screen and (max-height: 40em) /* 640 */
{
	.sm {
		display: none;
	}
	.mm_whatsapp_share {
		display: inline-block !important;
	}
}

.tinynav {
    display: block;
    height: 29px;
    border: 0 none;
    font-weight: bold;
    width: 100%;
    border: 1px solid #c6c6c6;
    background: #fff;
    text-indent: 10px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mm_facebook_share, .mm_twitter_tweet, .mm_google_plus_share, .mm_email_share, .mm_pinterest_share, .mm_whatsapp_share{
	border: 1px solid transparent;
}
.mm_facebook_share:visited, .mm_facebook_share:hover, .mm_facebook_share:active, .mm_twitter_tweet:visited, .mm_twitter_tweet:hover, .mm_twitter_tweet:active, .mm_google_plus_share:visited, .mm_google_plus_share:hover, .mm_google_plus_share:active, .mm_email_share:visited, .mm_email_share:hover, .mm_email_share:active, .mm_pinterest_share:visited, .mm_pinterest_share:hover, .mm_pinterest_share:active, .mm_whatsapp_share:visited, .mm_whatsapp_share:hover, .mm_whatsapp_share:active{
	border: 1px solid #f2635d;
	color: #f2635d;
}
.mm_facebook_share,.mm_twitter_tweet,.mm_google_plus_share,.mm_email_share,.mm_pinterest_share,.mm_whatsapp_share {
	color: #fff;
	cursor: pointer;
	height: 39px;
	width: 99px;
	padding-left: 1%;
	margin-right: 2px;
	display: inline-block;
	text-align: left;
}
.mm_whatsapp_share {
	display: none;
}
.mm_facebook_share span,.mm_twitter_tweet span,.mm_google_plus_share span,.mm_email_share span,.mm_pinterest_share span ,.mm_whatsapp_share span {
	line-height: 39px;
	font-size: 30px;
}
.mm_facebook_share, .bg_facebook {
	background-color: #3c5897;
}
.mm_twitter_tweet, .bg_twitter {
	background-color: #4e96c2;
}
.mm_google_plus_share, .bg_googleplus {
	background-color: #bc1f14;
}
.mm_whatsapp_share {
	background-color: #2ab200;
}
.bg_pintrest{
	background-color: #dd010d;
}
.bg_mail{
	background-color: #666666;
}
.mm_email_share,.mm_email_share:hover {
	background-color: #666666;
	color: #fff;
	text-decoration: none;
}
.mm_pinterest_share,.mm_pinterest_share:hover {
	background-color: #dd010d;
	color: #fff;
	text-decoration: none;
}
